<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css"/>
    <title>Microphone Button Example</title>
  </head>
  <body>

    <div class="box">
      <div class="container">
        <div class="top">
          <Header>Voice Authentication</Header>
        </div>
        <div class="glass-container">
          <form method="POST" action="/login" enctype="multipart/form-data">
            <div class="input-field">
              <input type="text" class="form-control" name="username" placeholder="Username" id="username"/>
            </div>
              <button id="record-button" onclick="record()">Record</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      function record() {
        var button = document.querySelector('button');
          button.style.backgroundColor = "red";
          // button.innerText = "Recording...";

        var count = 5;
        var timer = setInterval(function() {
          count--;
          button.innerText = "Recording...  [ " + count + " ]";
          if(count === 0){
            clearInterval(timer);
          }
        },1000);

        $.ajax({
          type: "POST",
          url: "/record",
          success: function (data) {
            console.log(data);
          },
          error: function () {
            console.log("Error");
          },
        });
      }
    </script>
  </body>
</html>
