<!DOCTYPE html>
<html>
  <head>
    <title>Microphone Button Example</title>
  </head>
  <body>
    <h1>Voice Authentication</h1>
    <form method="POST" action="/login" enctype="multipart/form-data">
      <div class="input-field">
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          id="username"
        />
      </div>
      <button id="record-button" onclick="record()">Record</button>
    </form>
    <script>
      function record() {
        $.ajax({
          type: "POST",
          url: "/record",
          success: function (data) {
            console.log(data);
          },
          error: function () {
            console.log("Error");
          },
        });
      }
    </script>
  </body>
</html>
