* {
  font-family: "sans-serif";
  font-size: 14px;
  /* background-color: black; */
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass-container {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* height: 1vh;
  width: 1vw; */
}
