* {
    font-family: 'poppins', sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#my-canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
}